body{
	background-image: url('WaterPark_Beaches.jpg');
	background-repeat:no-repeat;
	background-size: 1800px;
	width:100%
	height:100%;

	
}
img{
	width:25px;height:25px;border:0;
}
#water{
	text-align: left;
	position: absolute;
	margin:0px;
	top:70%;
	left:5%;
	background-color: transparent;
}

h1::before{
	padding-left: 10px;
	content:"Remember:-";
	color: #7e37eb;
	background-color: #e2d1fa;

}
h1::after{
	content: ":)";
	color: #7e37eb;
	background-color: #e2d1fa;

}
header{
	top:0;
	margin-top: 0px;
	
}
header,footer{
	/*background-color: #78a0e7;
	background-color: #c0ebe7;*/
	background-color: #59cbbe;
	height: 50px;
	list-style: none;
	left:0;
	right:0;
	width: 100%;
	position: fixed;
	text-align:center;
	margin-top: 0px;
	z-index: 500;
}

/*#water{
	position: absolute;
	top:50%;
	left:0%;
}*/
a:hover{
	background-color: #d4efa0;
	height: 30px;
}

ul{
	list-style-type: none;
	line-height: 2em;

}


li{
	display:inline-block;
	padding-right: 25px;
	font-weight: bold;
	font-size: 100%;
	height: 25px;
}
form{

	border: 2px solid; 
	border-radius: 5px;
	background-color:  #96e8ea;
	display:inline-block;
	margin: 90px 50px;
	/*background-color: #e2d1fa;
	
	padding: 20px;
	*/

}

input[type="text"],
input[type="text"]:focus,
input[type="text"]:hover,
input[type="tel"],
input[type="tel"]:focus,
input[type="tel"]:hover,
input[type="email"],
input[type="email"]:focus,
input[type="email"]:hover{
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccccb9;
    outline: none;
    width: 220px;
    padding:0 10px;
   
}
.nam,.las,.gen{
	padding: 10px;
	}
.button{
	background-color: #0000ff;
	color: #f5063b;
}
.button1{
	background-color: #f5063b;
	color:#0000ff;
}

.button:hover{
	background-color: #ffff00;
	color:#00ff00;
}

.button1:hover{
	color: #ffff00;
	background-color:#00ff00;
}

.button,.button1,.button:hover, .button1:hover{
	border: 2px solid;
	border-radius: 5px;
	padding: 5px;

}

#inco{
	position: absolute;
	bottom: 5px;
	left: 0px;
	color: #ff0000;
}
#verify{
    position: absolute;
    bottom:-20px;
    left: 5px;
    color: #ff0000;
}

input[name="lastName"]{
	background-color: rgba(0,0,0,1);
}

input[type="email"]:valid,
input[type="email"]:valid{
	border: 2px solid #23841b;
	
}

input[type="email"]:invalid,
input[type="email"]:invalid{
	border: 2px solid #e72508;
	
}


input[type="email"]:valid ~ #inco,
input[type="email"]:valid ~ #verify{

	display: none;
}
input[type="email"]:invalid ~ #inco,
input[type="email"]:invalid ~ #verify{

	display: inline-block;
}


/*input[type="email"]:invalid + label{
    top: 0;
    color: #000;
    font-size: 13px;
}*/

/*img{

	display: block;
	width: 100;
	height: 100;
	float: right;


}*/
footer{
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin-bottom:0px;
	
}
